.hero-wrapper {
    color:  rgb(224, 25, 25);
    position: relative;
    z-index: 1;
}

.hero-container{
    justify-content: space-around;
    align-items: flex-end;

}

/* left slide */
.hero-left{
    gap: 1.5rem;
}

.hero-title{
    position: relative;
    z-index: 1;
}

.hero-des{
    width: 30rem;
    height: 10rem;
    text-align: justify;
}

.hero-title>h1{
    font-weight: 600;
    font-size: 5.8rem;
    line-height: 4rem;
}

.TextA{
    display: flex;
    position: relative;
    font-size: 2rem;
    left: 138px;
    bottom: 10px;
}

.search-bar{
    background-color: white;
    border-radius: 5px;
    border: 2px solid rgb(99, 99, 99);;
    padding: .5rem 1rem;
    justify-content: space-between;
    width: 100%;
}

.search-bar> input{
    border: none;
    outline: none;
}

.stats{
    width: 100%;
    justify-content: space-between;
    padding-top: 3rem;
}

.stat>:nth-child(1)
{
    font-size: 2rem;
}
.stat>:nth-child(1)>:last-child{
    color: rgb(0, 158, 226);
}

.hero-box{
    width: 70%;
}




/* right slide */

.image-container{
    width: 40rem;
    height: 35rem;
    overflow: hidden;
    border-radius: 45rem 5rem 0 0 ;
}

.image-container>img{
    width: 100%;
    height: 100%;
}

@media (max-width: 640px) {
    .hero-container{
        width: auto;
        /* height: 100px; */
    }
    .hero-title>h1{
        font-size: 2.5rem;
        line-height: 3rem;
        padding-left: 1rem;
    }
    .TextA{
        left: 0%;
        bottom: 0%;
    }
    .hero-des{
        width: auto;
        height: auto;
    }
    .search-bar{
        background-color: white;
        border-radius: 5px;
        border: 2px solid rgb(99, 99, 99);;
        padding: .5rem;
        justify-content: space-between;
        width: 100%;
    }
    .search-bar>button{
        width:50%;
    }
    .search-bar>input{
        width:20%;
    }
    .image-container{
        width: 95%;
        height: 9rem;
    }
    .stats{
        justify-content: center;
        gap: 1.5rem;
    }
    .hero-right{
        width: 100%;
    }
    .stat>:nth-child(1)
    {
        font-size: 1.5rem;
    }
    .stat>:nth-child(2)
    {
        font-size: 0.8rem;
    }
}

