.App{
    position: relative;
    overflow-x: clip;
}
.App>:nth-child(1)
{
    background: rgb(255, 255, 255);
    position: relative;
}
.white-gradient{
    position: absolute;
    width: 20rem;
    height: 20rem;
    background: rgb(105, 221, 250);
    filter: blur(200px);
    border-radius: 50%;
    bottom: 0;
    left: 0;
}